.container {
    background: #FFFFFF;
    flex-direction: row;
    align-items: flex-start;
    width: 810px;
    height: 600px;
    margin-left: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 20px;
}

.body_container {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 20px;
}